/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav a {
    font-weight: 600;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e53e3e;
    color: white;
}

button[type="submit"],
button[type="button"] {
    background-color: #e53e3e;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #c53030;
}

/* Media Queries para responsividade */
@media (max-width: 640px) {
    table th,
    table td {
        font-size: 0.875rem; /* Ajustando tamanho da fonte para telas pequenas */
    }

    button[type="submit"],
    button[type="button"] {
        padding: 0.5rem;
        font-size: 0.875rem; /* Ajustando tamanho do botão para telas pequenas */
    }
}
